h1 {
  text-align: center;
  color: black;
  font-weight: bold;
}

body {
  background-image: url("http://www.dimagiospizza.com/sites/all/themes/dimagio/images/global/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 21vh;
  font-weight: bold;
  color: black;
  background-color: darkgreen;
  margin-bottom: 20px;
}

#costDisplay {
  font-size: 2em;
}

#orderButton {
  float:right;
}
